body {
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}

.container {
    margin-top: 0%;
    margin-left: 0%;
    width: 60%;
    height: 650px;
    padding: 8px;
    background: #F3F5FC;
}

.logo {
    margin-top: 0%;
    float: left;
}

.left {
    margin-top: 15%;
    float: left;
    margin-left: 3%;
    width: 60%;
    height: 70%;
    border-radius: 24px;
    background: lightblue;
}

.right {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 0%;
    float: right;
    width: 30%;
    height: 30%;
    border-radius: 30px;
    background: #F3F5FC;
}

.left-button {
    margin-left: 3%;
    float: left;
    width: 60%;
    height: 25%;
    border-radius: 24px;
    background: lightgreen;
}

.logoImg {
    width: 80%;
}

.title {
    margin-top: 2%;
    margin-left: 35px;
    font-style: italic;
    font-size: 200%;
    color: gray;
    float: right;
}

.text-input {
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    width: 95%;
    height: 95%;
    color: black;
    font-size: 30px;
    font-family: arial;
    border: none;
    border-radius: 20px;
    outline: none;
    background: whitesmoke;
}

#imgDer {
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 70%;
    width: 85%;
    height: auto;
}

#texto {
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 5%;
    font-size: 95%;
    color: red;
    font-weight: bold;
    font-style: italic;
}

*/Texto que esta debajo del muñeco*/ #texto2 {
    float: left;
    margin-left: 5%;
    color: #0A3871;
    width: 15%;
    height: 20%;
    border: none;
    outline: none;
    font-size: 55%;
}

#btn-encriptar {
    padding: 24px;
    width: 40%;
    height: 40%;
    font-size: 155%;
    color: blue;
    border-radius: 20px;
    border: 1px solid #0A3871;
    margin-left: 6%;
    gap: 15px;
    background: #D8DFE8;
    text-align: center;
}

#btn-desencriptar {
    padding: 24px;
    width: 40%;
    height: 40%;
    font-size: 155%;
    color: blue;
    border-radius: 20px;
    border: 1px solid #0A3871;
    margin-left: 5%;
    gap: 15px;
    background: #D8DFE8;
    text-align: center;
}

#copiar {
    margin-left: 70%;
    margin-top: 50%;
    padding: 10px;
    width: 20%;
    height: 20%;
    background: #D8DFE8;
    border-radius: 40px;
    font-size: 95%;
    font-style: oblique;
    display: none;
}

#btn-copiar {
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
    width: 50%;
    font-size: 160%;
    height: 30%;
    border-radius: 20px;
    padding: 25px;
}

.down {
    margin-left: 5%;
}